version: "3.8"

services:
  ros2-dev:
    build:
      context: ./docker
      args:
        USERNAME: ${USER:-host_user}
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
    image: ros2-humble-dev:latest
    container_name: ros2_humble_dev
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../src:/home/ros/ros2_ws/src
      - /dev:/dev
    network_mode: host
    privileged: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: zsh
    stdin_open: true
    tty: true
