controller_manager:
  ros__parameters:
    update_rate: 100 # Hz

    arm_controller:
      # type: joint_trajectory_controller/JointTrajectoryController
      type: position_controllers/JointGroupPositionController

    gripper_controller:
      type: position_controllers/JointGroupPositionController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

joint_state_broadcaster:
  ros__parameters:
    joints:
      - shoulder_pan
      - Shoulder_lift
      - elbow_flex
      - wrist_flex
      - wrist_roll
      - gripper
    frame_id: base

arm_controller:
  ros__parameters:
    joints:
      - shoulder_pan
      - shoulder_lift
      - elbow_flex
      - wrist_flex
      - wrist_roll
    command_interfaces:
      - position
    state_interfaces:
      - position
    allow_nonzero_velocity_at_trajectory_end: true

gripper_controller:
  ros__parameters:
    joints:
      - gripper
    interface_name: position
    command_interfaces:
      - position
    state_interfaces:
      - position
